@use './general/normalize';
@use './general/reset.local';

.row {
  margin: 20px auto;
  padding: 20px;
  border: 1px dotted lightblue;
}

table {
  border-collapse: collapse;
}

th,
td {
  border: 1px solid black;
  padding: 4px 12px;
}

th {
  cursor: pointer;
}

.text-align-center {
  text-align: center;
}
